@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

.container {
  width: 100%;
  min-height: 100%;
  margin: auto;
}

.logo-nav-box {
  width: 100%;
  min-height: 60px;
  background-color: rgb(89, 89, 201);
}

.logo {
  width: 40%;
  min-height: 60%;
  float: left;
}

.logo img {
  width: 50px;
  height: 50px;
  margin-left: 20px;
  padding-top: 15px;
}

.logo h1 {
  font-size: 1.5em;
  margin-left: 80px;
  margin-top: -35px;
  color: white;
}

.nav {
  width: 58%;
  min-height: 60%;
  float: right;
}

.nav ul {
  list-style-type: none;
  width: 100%;
}

.nav ul li {
  display: inline-block;
  padding-top: 20px;
}

.nav ul li a {
  text-decoration: none;
  padding: 15px 40px;
  color: white;
  font-size: 1.2em;
}

.nav ul li a:hover {
  background-color: white;
  color: black;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.slider {
  min-height: 200px;
  width: 100%;
  align-items: center;
}

.contents-section {
  width: 100%;
  min-height: 400px;
  background-color: #9898ee;
  margin-top: 10px;
}

.contents-section .bar1 {
  width: 25%;
  min-height: 300px;
  float: left;
}

.contents-section .bar1 img {
  width: 300px;
  height: 400px;
  margin-left: 10px;
}

.contents-section .content {
  width: 48%;
  min-height: 300px;
  float: left;
}

.contents-section .content h1 {
  color: white;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.contents-section .content p {
  text-align: justify;
  padding-top: 20px;
  color: white;
  font-size: 1.1em;
}

.contents-section .content i {
  padding: 35px 100px;
  color: white;
  font-size: 1.2em;
}

.contents-section .bar2 {
  width: 25%;
  min-height: 300px;
  float: right;
}

.contents-section .bar2 img {
  width: 300px;
  height: 400px;
  margin-left: 70px;
}

.product-img {
  width: 100%;
  height: 60px;
  margin-top: 30px;
}

.product-img .product-img1 img {
  width: 700px;
  height: 350px;
  float: left;
  margin-left: 20px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border: 3px solid #9898ee;
}

.product-img .product-img2 img {
  width: 700px;
  height: 350px;
  float: right;
  margin-right: 20px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border: 3px solid #9898ee;
}

.footer {
  width: 100%;
  padding: 50px 0;
  background-color: rgb(89, 89, 201);
  margin-top: 330px;
  height: 250px;
}

.footer .footer-section {
  width: 32%;
  min-height: 100px;
  float: left;
}

.footer .footer-section img {
  width: 45px;
  height: 45px;
  margin-left: 20px;
  margin-top: -30px;
}

.footer .footer-section h1 {
  font-size: 1.5em;
  color: white;
  margin-top: -40px;
  margin-left: 70px;
}

.footer .tab-section h3 {
  color: white;
  font-size: 1.2em;
}

.footer .footer-section p {
  color: white;
  text-align: justify;
  margin-top: 20px;
  margin-left: 20px;
  font-size: 1.1em;
}

.footer .tab-section p {
  color: white;
  font-size: 1.1em;
  margin-top: 10px;
}

.footer .tab-section {
  width: 32%;
  float: left;
  margin-top: -20px;
  margin-left: 60px;
}

.footer .address-section {
  width: 32%;
  float: right;
  margin-top: -20px;
}

.footer .address-section p {
  color: white;
  font-size: 1.2em;
  margin-top: 10px;
}

.footer-bottom {
  background-color: rgb(89, 89, 201);
  margin-top: 15px;
  width: 100%;
  height: 60px;
}

.footer-bottom p {
  text-align: center;
  margin: auto;
  padding-top: 20px;
  color: white;
  font-size: 1.2em;
}
